<!DOCTYPE html>
<html>
<head>
    <title>{{ shoename }} Sales Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/salesDetail.css') }}">
</head>
<body>
    <div>
        <button id="backToMain" name="backToMain" class="btn btn-primary"> 回到主页 </button>
    </div>
    

    <!-- 这里是销售数据 -->
    {% if invalid %}
        <div>
            <p> {{ error }} </p>
        </div>
    {% else %}
        <h1 id="shoe-name">{{ shoename }}</h1>
        <div class="fillterExpress">
            <input type="checkbox" name="filterExpressButton" id="filterExpressButton">
            <text> Only Show Express Data </text>
        </div>
        <div class="table-container">
            <table>
                <tr>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Time</th>
                    <th>OrderType</th>
                </tr>
                {% for row in sales_data %}
                <!-- 这里我们为每一行的数据创建一个表格行 -->
                <tr>
                    <td>{{ row['price'] }}</td>
                    <td>{{ row['size'] }}</td>
                    <td>{{ row['time'] }}</td>
                    <td>{{ row['orderType'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/salesDetail/return_to_main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/salesDetail/ajax_filterExpress.js') }}"></script>
</body>
</html>